# Python
__pycache__/
*.pyc
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Node / frontend (por si acaso)
node_modules/
dist/

# Allow Streamlit component runtime build
!event_logger/build/


# OS
.DS_Store
Thumbs.db
